@import 'ui-variables';

// Make corresponding toolbar match threadlist background
.column-ThreadList,
.toolbar-ThreadList {
  height: 100%;
  background: @threadlist-bg;
  border-bottom: 1px solid @border-color;
}

// move search bar edges in slightly
.toolbar-ThreadList {
  padding: 0 10px;
}

// jackiehluo -> Hide search bar when buttons appear in list mode
.toolbar-ThreadList .selection-bar .inner {
  background: @threadlist-bg;
}


.list-tabular .list-tabular-item {
  background-color: @threadlist-bg;
  color: @sidebar-text;
  border-bottom: 1px solid @border-color !important;
}


.list-tabular .list-tabular-item:hover {
  background: @threadlist-bg-focused !important;
  color: @sidebar-text; // avoid important (clashes with unread)
}


.list-container .list-item.focused,
.list-container .list-item.selected,
.thread-list.handler-split .list-item.selected {
  background: @threadlist-bg-focused !important;
  color: @sidebar-text; // avoid important (clashes with unread)
}

body.is-blurred .list-container .list-item.focused,
body.is-blurred .list-container .list-item.selected,
body.is-blurred .thread-list.handler-split .list-item.selected {
  // background: tint(@sidebar, 90%);
  // color: @active-thread-text;
  background: @threadlist-bg-focused;
  color: @sidebar-text;
}

.list-tabular .list-tabular-item.keyboard-cursor {
  border-left-color: @accent;
  // background: tint(@accent, 90%);
  background: @threadlist-bg-focused;
  color: @accent;
}

body.is-blurred .list-tabular .list-tabular-item.keyboard-cursor {
  border-left-color: tint(@sidebar, 70%);
}

// .thread-list .unread:not(.focused):not(.selected), .draft-list .unread:not(.focused):not(.selected) .list-tabular .list-tabular-item .unread  {
//   border-left-color: @accent;
//   background: @threadlist-bg !important;
//   color: @accent;
// }
.thread-list .unread, .draft-list .unread, .list-tabular .list-tabular-item .unread  {
  border-left-color: @accent !important;
  background: @threadlist-bg !important;
  color: @accent !important;
}

.snippet {
  color: @sidebar-text !important;
}

.empty-state .perspective-empty-state .message {
  color: @sidebar-text !important;
}

// TODO:
// unread focused (should have unread bold!)
// Draft hover (should be dark focused bg)

.draft-list .list-tabular .list-tabular-item:hover {
  background: @threadlist-bg-focused !important;
  color: @sidebar-text;
}
