@import 'ui-variables';

.mail-label {
  background: @label-bg !important;
  color: black !important;
  // text-transform: uppercase;
  // letter-spacing: 1px;
}

.thread-list .focused .mail-label,
.draft-list .focused .mail-label,
.thread-list.handler-split .list-item.selected .mail-label {
  background: @label-bg !important;
  color: black !important;
  // text-transform: uppercase;
  // letter-spacing: 1px;
  box-shadow: none !important;
  -webkit-filter: none !important;
}
