// All themes need a file called `ui-variables` that extends from the base
// variables and overrides colors, padding, etc. Other plugins import
// `ui-variables` to make their custom CSS react to the current theme.
@import 'base/ui-variables';

// Microsoft Mail inspired
@sidebar: #262626;
@accent: #b3d6f2;
@accent-alt: #69afe5;
@accent-primary: @accent;
@threadlist-bg: #333333;
@threadlist-bg-hover: #3f3f3f;
@threadlist-bg-focused: #4f4f4f;
@messagelist-bg: tint(@sidebar, 95%);
@active-thread-text: @sidebar;
@sidebar-text: #eeeeee;
@active-sidebar-text: @accent;
@border-color: #000000;
@label-bg: @accent;
@danger: #ff5f56;
@minimize: #fbd852;
@maximize: #8dd07d;
@swipe-archive: #8dd07d;
@swipe-snooze: #fbd852;
@swipe-trash: @danger;
@invalid: @danger;
@sidebar-margin: 20px;
@scrollbar-bg: #777777;
@scrollbar-bg-dragging: #aaaaaa;
